.mit {
    background-image: url('../../images/dion_mit.jpg');
    height: 600px;
    background-position: center;
    background-size: cover;
}

.misti_singapore {
    background-image: url('../../images/misti-singapore.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
}